@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

body {
  background: #f7f7f9;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  background-color: #f7f7f9;
  padding: 20px 20px 15px 15px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #6070ff;
}

.Roland {
    background-color: red;
}

.menu-button {
    border: none;
}