@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 575px;
  font-family: 'poppins', sans-serif;
  font-weight: 200;
  background-color: #e5e5e5;
}


.nav-bar {
  background-color: #fff;
  padding: 20px 15px;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #6070ff;
}

.menu-button {
  border: none;
  background-color: #f7f7f9;
}

.desc-container {
  padding-top: 100px;
  background: url(./images/header-shapes-mobile.png) no-repeat;
  background-size: 100%;
  background-color: #fff;
  height: 700px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.text-one {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.text-two {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  align-content: center;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  justify-content: center;
}

.lists-container {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 52px;
  color: #172b4d;
}

.icon {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icon-img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  padding-left: 0%;
}

.icon-img li {
  list-style-type: none;
}

.hold-image {
  display: block;
  border-radius: 8px;
  padding: 0;
  margin: 1px -23px;
  height:auto;
  width: 330px;
  top: 16px;
}

.lists {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.lists-item {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  justify-content: baseline;
}

.lang-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-left: 0%;
  list-style-type: none;
  justify-content: flex-start;
}

.lang-item {
  background: #ebebff;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 0 2px;
  font-size: 15px;
  font-weight: bolder;
  color: #396df2;
}

button {
  cursor: pointer;
}

button:enabled {
  color: #6070ff;
  background-color: #fff;
  border-color: #6070ff;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
  border-color: #5e6c84;
  background-color: #fff;
}

.click-btn {
  font-size: 19px;
  color: #396df2;
  padding: 13px;
  background-color: transparent;
  margin-top: 2rem;
  border: 1px solid #396df2;
  border-radius: 6px;
}

.card-contain {
  display: flex;
  border: 1px solid #7a869a;
  width: 88%;
  margin: 12px auto;
  border-radius: 16px;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
}

.btn {
  height: 10px;
  padding: 9px;
  margin-top: 11px;
}

.card-contain li {
  list-style-type: none;
}

.about-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  border-top-right-radius: 5rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 28px;
  padding-right: 28px;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100% 100%;
}

.lang {
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  padding: 0%;
}

.no-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.languages {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  list-style-type: none;
}

.languages li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #f7f7f9;
  padding: 10px;
  border-radius: 5px;
}

.languages li a {
  text-decoration: none;
  color: #000;
}

.lang-exp {
  margin: 0;
  display: grid;
  grid-gap: 20px;
}
